.link-wrap
  - @books.each do |book|
    .col-xs-6.col-sm-3
      .general-thumb-wrap
        .thumbnail.general-thumbnail
          - if book.images.any?
            = image_tag(book.images.first, class: 'img-shadow general-thumbnail-img')
          - else
            = image_tag('Web-Book-Cover.png', class: 'img-shadow general-thumbnail-img')
          .thumb-hover
            .general-thumb-link-wrap
              %a.thumb-hover-link{href: book_path(book)}
                %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
              %div.add_to_cart{"data-controller": "book" }
                - if book.quantity == 0
                  %a#add_to_cart.thumb-hover-link{ "data-action": "click->book#addToCart",
                                                    "data-book-book-param": book.id,
                                                    "data-book-order-param": session[:order_id],
                                                    "data-book-count-param": 0 }
                - else
                  %a#add_to_cart.thumb-hover-link.disabled{ "data-action": "click->book#addToCart",
                                                            "data-book-book-param": book.id,
                                                            "data-book-order-param": session[:order_id],
                                                            "data-book-count-param": 1 }
                    %i.fa.fa-shopping-cart.thumb-icon
      .general-thumb-info
        %p.title= book.title
        %p.font-16.in-gold-500
          €
          = book.price
        %span.divider-sm
        %p.lead.small
          = book.authors_names
