.mb-80
  = render partial: 'books/review/review_form'
  .mb-80
    %h3.in-gold-500.mb-25
      = t('book_page.book.reviews')
      = @book.reviews.count
    - @book.reviews.each do |review|
      .general-message-wrap.divider-lg
        .clearfix
          = image_tag('user_profile.png', class: 'img-circle logo-size inlide-block pull-left')
          .ml-70
            %div
              .general-message-date.hidden-xs= review.decorate.posted_at
              .max-240
                - if review.verified
                  .general-message-verified= t('book_page.book.verified')
                - else
                  .general-message-verified= t('book_page.book.not_verified')
              .general-message-name= review.user.decorate.username
            .mb-15
              - review.rating.times do
                %i.fa.fa-star.rate-star
              - (5 - review.rating).times do
                %i.fa.fa-star.rate-empty
            %p= review.body
