%main.container.general-main-wrap.mt-100
  .text-center
    %p.in-gold-500.font-18.mb-25= t('login.set_new_password')
  .general-form
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = render 'devise/shared/error_messages', resource: resource
      = f.hidden_field :reset_password_token
      .form-group.mb-30
        = f.label :password, t('login.type_new_password')
        = f.password_field(:password, class: 'form-control', id: 'new_password', required: true, placeholder: t('login.type_new_password'))
      .form-group.mb-40
        = f.label :password_confirmation, t('login.confirm_password')
        = f.password_field(:password_confirmation, class: 'form-control', id: 'confirm_password', required: true, placeholder: t('login.confirm_password'))
      .text-center
        = f.submit t('login.change'), class: 'btn btn-default mb-10'