= render 'devise/shared/error_messages'

%main.container.general-main-wrap.mt-100
  .text-center
    %h1.mb-30= t('login.forgot_password')
    %p.general-password-text= t('login.send_it')
  .general-form
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render 'devise/shared/error_messages', resource: resource
      .form-group.mb-25
        = f.label :user_email, t('login.enter_email'), class: 'control-label input-label'
        = f.email_field(:email, autofocus: true, id: 'email', autocomplete: 'email', class: 'form-control', required: true, placeholder: t('login.enter_email'))
      = f.submit t('login.send_instructions'), class: 'btn btn-default mb-20 center-block'
      .text-center
        = link_to t('login.cancel'), new_user_session_path, class: 'in-gold-500 mb-2'