#slider.carousel.slide{'data-ride': "carousel"}
  %ol.carousel-indicators
    - @best_sellers.each_with_index do |_b, index|
      -if index.zero?
        %li.active{'data-target': "#slider", 'data-slide-to': "#{index}"}
      -else
        %li{'data-target': "#slider", 'data-slide-to': "#{index}"}
  .carousel-inner{role: "listbox"}
    - @best_sellers.each_with_index do |book, index|
      .item{ class: ('active' if index.zero?) }
        .row
          .col-sm-5
            .general-img-wrap
              - if book.images.any?
                = image_tag(book.images.first, class: 'img-shadow general-thumbnail-img')
              - else
                = image_tag('Web-Book-Cover.png', class: 'img-shadow general-thumbnail-img')
          .col-sm-7
            .mb-60
              %h1= book.title
              %p.lead
                = markdown(book.short_description)
              %p.lead.small
                = book.authors_names
              .general-align
                %button= t('main.catalog.buy_now')
  %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
    %span.icon-prev{'aria-hidden': "true"}
    %span.sr-only= t('main.catalog.prev')
  %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
    %span.icon-next{'aria-hidden': "true"}
    %span.sr-only= t('main.catalog.next')
