%main.container.general-main-wrap
  %h1.mt-0.mb-25= t('orders.title')
  %p.lead.small.mb-10.visible-xs= t('orders.sort')
  .dropdowns.dropdown.general-order-dropdown
    %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      = t('orders.waiting')
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      %li
        %a{href: orders_path} All
      %li
        %a{href: orders_path(status: params[:status],sort: 'total_price')}= t('orders.sorting.price.acs')
      %li
        %a{href: orders_path(status: params[:status], sort: 'total_price DESC')}= t('orders.sorting.price.desc')
      %li
        %a{href: orders_path(status: 'confirmed', sort: params[:sort])}= t('orders.sorting.status.confirm')
      %li
        %a{href: orders_path(status: 'canceled', sort: params[:sort])}= t('orders.sorting.status.canceled')
      %li
        %a{href: orders_path(status: 'delivered', sort: params[:sort])}= t('orders.sorting.status.delivered')
      %li
        %a{href: orders_path(status: 'in delivery', sort: params[:sort])}= t('orders.sorting.status.in_delivery')
  .visible-xs
    - @orders.each do |order|
      .general-cart-item.divider-lg-bottom.pt-0
        %table.table
          %tr
            %td.col-half
              %span.in-grey-600= t('orders.number')
            %td.col-half
              %span.general-order-number= order.id
          %tr
            %td
              %span.in-grey-600= t('orders.completed_at')
            %td
              %span.in-grey-900.font-16.fw-300= order.decorate.last_action_str
          %tr
            %td
              %span.in-grey-600= t('orders.status')
            %td
              - if order.status.eql?('delivered')
                %span.font-16.fw-300.text-success= order.status.capitalize
              - elsif order.status.eql?('confirmed')
                %span.font-16.fw-300= order.status.capitalize
              - elsif order.status.eql?('in delivery')
                %span.font-16.fw-300.text-warning= order.status.capitalize
              - else
                %span.font-16.fw-300.text-danger= order.status.capitalize
          %tr
            %td
              %span.in-grey-600= t('orders.total')
            %td
              €
              = order.decorate.price

  .hidden-xs.mb-res-50
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600= t('orders.number')
          %th
            %span.in-grey-600= t('orders.completed_at')
          %th
            %span.in-grey-600= t('orders.status')
          %th
            %span.in-grey-600= t('orders.total')
      %tbody
        - @orders.each do |order|
          %tr
            %td
              %span.general-order-number= order.id
            %td
              %span.in-grey-900.font-16.fw-300= order.decorate.last_action_str
            %td
              - if order.status.eql?('delivered')
                %span.font-16.fw-300.text-success= order.status.capitalize
              - elsif order.status.eql?('confirmed')
                %span.font-16.fw-300= order.status.capitalize
              - elsif order.status.eql?('in delivery')
                %span.font-16.fw-300.text-warning= order.status.capitalize
              - else
                %span.font-16.fw-300.text-danger= order.status.capitalize
            %td
              %strong.font-16
                €
                = order.decorate.price
