%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('header.log_in')
    = link_to "", omniauth_user_facebook_omniauth_authorize_path, method: :post, class: 'general-login-icon fa fa-facebook-official', style: 'font-size: 30px;'
    %p.general-login-text= t('login.or')
    .general-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group.mb-30
          = f.label :user_email, t('login.enter_email'), class: 'control-label input-label'
          = f.email_field(:email,autofocus: true,autocomplete: 'email',class: 'form-control',required: true,placeholder: t('login.enter_email'))
        .form-group.mb-30
          = f.label :user_password, t('login.password'), class: 'control-label input-label'
          = f.password_field(:password,autocomplete: 'new password',class: 'form-control',required: true,placeholder: t('login.password'))
          = link_to t('login.forgot_password'), new_user_password_path, class: 'help-block in-gold-500'
        - if devise_mapping.rememberable?
          .form-group.checkbox.text-center.mb-30
            %label.checkbox-label
              = f.check_box :remember_me, { class: 'checkbox-input', hidden: 'true', id: 'remember_me' }, 'true', 'false'
              %span.checkbox-icon
                %i.fa.fa-check
              %span.checkbox-text= t('login.remember')
        .text-center
          = f.submit t('header.log_in'), class: 'btn btn-default mb-20'
