%h1.general-title-margin= t('checkout.title')
%ul.steps.list-inline
  - if params[:step].eql?('address')
    %li.step.active
      %span.step-number 1
      %span.step-text.hidden-xs= t('checkout.header.address')
  - else
    %li.step
      %span.step-number 1
      %span.step-text.hidden-xs= t('checkout.header.address')
  %li.step-divider
  - if params[:step].eql?('delivery')
    %li.step.active
      %span.step-number 2
      %span.step-text.hidden-xs= t('checkout.header.delivery')
  - else
    %li.step
      %span.step-number 2
      %span.step-text.hidden-xs= t('checkout.header.delivery')
  %li.step-divider
  - if params[:step].eql?('payment')
    %li.step.active
      %span.step-number 3
      %span.step-text.hidden-xs= t('checkout.header.payment')
  - else
    %li.step
      %span.step-number 3
      %span.step-text.hidden-xs= t('checkout.header.payment')
  %li.step-divider
  - if params[:step].eql?('confirm')
    %li.step.active
      %span.step-number 4
      %span.step-text.hidden-xs= t('checkout.header.confirm')
  - else
    %li.step
      %span.step-number 4
      %span.step-text.hidden-xs= t('checkout.header.confirm')
  %li.step-divider
  - if params[:step].eql?('complete')
    %li.step.active
      %span.step-number 5
      %span.step-text.hidden-xs= t('checkout.header.complete')
  - else
    %li.step
      %span.step-number 5
      %span.step-text.hidden-xs= t('checkout.header.complete')
