%main.container
  %h1.general-title-margin Checkout
  %ul.steps.list-inline
    %li.step.active
      %span.step-number 1
      %span.step-text.hidden-xs Address
    %li.step-divider
    %li.step
      %span.step-number 2
      %span.step-text.hidden-xs Delivery
    %li.step-divider
    %li.step
      %span.step-number 3
      %span.step-text.hidden-xs Payment
    %li.step-divider
    %li.step
      %span.step-number 4
      %span.step-text.hidden-xs Confirm
    %li.step-divider
    %li.step
      %span.step-number 5
      %span.step-text.hidden-xs Complete
  %form.res-mb-100
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle Billing Address
          %p.general-info-text all fields are required
        .col-md-5.col-md-offset-1
          %h3.general-subtitle Shipping Address
    #billing
      .col-md-5.mb-40
        .visible-xs.visible-sm
          %h3.general-subtitle.mt-0= t("settings.billing")
        = render 'checkouts/address/address_form', address: current_user.billing
      #shipping
        .col-md-5.mb-40
          .visible-xs.visible-sm
            %h3.general-subtitle.mt-0= t("settings.shipping")
          = render 'checkouts/address/address_form', address: current_user.shipping
          .form-group.checkbox
            %label.checkbox-label
              %input.checkbox-input{type: "checkbox", hidden: "true"}
              %span.checkbox-icon
                %i.fa.fa-check
              %span.checkbox-text Use Billing Address
    .general-text-align.mb-60
      %table.general-summary-table
        %tr
          %td
            %p.in-gold-500.font-18 Order Summary
        %tr
          %td
            %p.font-16 Item Total:
          %td
            %p.font-16
              €
              = @order.order_price
        %tr
          %td
            %p.font-16 Order Total:
          %td
            %p.font-16
              €
              - if @order.coupon.nil?
                = @order.order_price
              - else
                = @order.order_price(@order.coupon.discount)
      = button_to 'Save and Continue', "checkout?step=delivery", method: :get, class: 'btn center-block mb-20'
