%main.container.general-main-wrap
  = render 'progress'
  .text-center.mb-40
    %h3.general-subtitle= t('checkout.complete_page.message_thank')
    %p.fw-300
      = t('checkout.complete_page.message')
      = current_user.email
  .row.mb-20
    .col-sm-6
      .visible-xs
        %p.general-order-number.mb-0
          = t('checkout.complete_page.order')
          = @order.id
        %p.general-address.mb-30
          = @order.created_at
      %p.general-address
        %h3.general-subtitle= t('checkout.header.address')
        = @order.address.decorate.full_name
        = link_to t('checkout.confirm_page.edit'), checkout_path(step: :address), class: 'general-edit'
        %br
        = @order.address.address
        %br
        = @order.address.city
        = @order.address.zip
        %br
        = @order.address.country
        %br
        = t('checkout.confirm_page.phone')
        = @order.address.phone
    .col-sm-6.hidden-xs.text-right
      %p.general-order-number.mb-0
        = t('checkout.complete_page.order')
        = @order.id
        %p.general-address.mb-30
          = @order.created_at
  .visible-xs
    - @order.order_books.each do |order_book|
      .general-cart-item.divider-lg
        .general-img-wrap-table
          - if order_book.book.images.any?
            = image_tag(order_book.book.images.first, class: 'img-shadow general-thumbnail-img')
          - else
            = image_tag('Web-Book-Cover.png', class: 'img-shadow general-thumbnail-img')
        %p.title= order_book.book.title
        %P.in-grey-600.fw-300= order_book.book.description
        %table.table
          %tr
            %td
              %span.in-grey-600= t('checkout.price')
            %td
              %span.font-16.in-gold-500
                €
                = order_book.book.decorate.price
          %tr
            %td.vertical-middle
              %span.in-grey-600= t('checkout.quantity')
            %td
              %span= order_book.quantity
          %tr
            %td
              %span.in-grey-600= t('checkout.subtotal')
            %td
              %span.font-16.in-gold-500
                €
                = order_book.decorate.total_price
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th

            %span.in-grey-600= t('checkout.book')
          %th.col-method
          %th
            %span.in-grey-600= t('checkout.price')
          %th
            %span.in-grey-600= t('checkout.quantity')
          %th
            %span.in-grey-600= t('checkout.total')
      %tbody
        - @order.order_books.each do |order_book|
          %tr
            %td
              .general-img-wrap-table
                - if order_book.book.images.any?
                  = image_tag(order_book.book.images.first, class: 'img-shadow general-thumbnail-img')
                - else
                  = image_tag('Web-Book-Cover.png', class: 'img-shadow general-thumbnail-img')
            %td
              %p.title= order_book.book.title
              %p.in-grey-600.fw-300= order_book.book.description
            %td
              %span.font-16.in-gold-500
                €
                = order_book.book.decorate.price
            %td
              %span.ml-30= order_book.quantity
            %td
              %span.font-16.in-gold-500
                €
                = order_book.decorate.total_price
  .text-center.general-text-right
    = render 'summary'
  .text-center
    = form_with url: checkout_path(step: :complete), method: :put do |f|
      = f.submit t('checkout.complete_page.back'), class: 'btn btn-default mb-20'
