%td
  .input-group
    %a.input-link{ href: "/orders/#{session[:order_id]}/order_update_book/#{order_book.book.id}", method: :patch, quantity: order_book.quantity - 1 }
      %i.fa.fa-minus.line-heaght-40
    %input.form-control.quantity-input{ value: order_book.quantity }
    %a.input-link{ href: "/orders/#{session[:order_id]}/order_update_book/#{order_book.book.id}", method: :patch, quantity: order_book.quantity + 1 }
      %i.fa.fa-plus.line-heaght-40

%td
  %span.font-16.in-gold-500
    €
    = order_book.total_price
%td
  = button_to "/orders/#{session[:order_id]}/delete_from_cart/#{order_book.book.id}", method: :delete, class: 'close general-cart-close', type: "button", 'aria-label': "Close" do
    %span{'aria-hidden': "true"} &times;