%footer.navbar-inverse
  .container
    .row
      .col-sm-9
        %ul.list-inline.general-align.mb-25
          %li
            %a.nav-link{href: "#"}= t('.home')
          %li
            %a.nav-link{href: "#"}= t('.shop')
          %li
            %a.nav-link{href: "#"}= t('.order')
          %li
            %a.nav-link{href: "#"}= t('.setting')
      .col-sm-3
        %p.general-nav-mail= Constants::FOOTER_EMAIL
        %p.general-nav-number= Constants::FOOTER_NUMBER
        %ul.list-inline.general-align
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-facebook{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-twitter{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-google-plus{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-instagram{'aria-hidden': "true"}
          %script{src: "https://use.fontawesome.com/67602d7308.js"}
