%ul.nav.navbar-nav
  %li
    %a.root{href: root_path}= t('header.home')
  %li.dropdown
    %a.dropdown-toggle{href: "", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      = t('header.shop')
    %ul.collapse.dropdown-menu
      %li
        %a{href: '/books?sort=created_at DESC'}= t('header.all')
      %li.divider{role: "separator"}
      - Category.all.each do |category|
        %li
          = link_to category.name, books_path(category: category.id, sort: 'title'), class: 'collapse-link'
  %li.dropdown
    %a.dropdown-toggle{href: "", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      = t('header.account')
    %ul.dropdown-menu
      %li
        %a{href: "#"}= t('header.orders')
      %li
        %a{href: "#"}= t('header.settings')
      %li.divider{role: "separator"}
      %li
        %a{href: "#"}= t('header.log_in')
