%html
  %head
    %title BookStoreFJ1

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}

    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %p.notice
      = notice
    %p.alert
      = alert

    = render partial: 'layouts/header'

    - unless notice.nil?
      .container.text-center
        %p.notice
          = notice
    - unless alert.nil?
      .container.text-center
        %p.alert
          = alert

    = yield

    = render partial: 'layouts/footer'
